<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom mx-3">
  <div class="col-md-3 mb-2 mb-md-0">
    <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="assets/images/gato1.png" height="50px">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact : true}"
        class="nav-link px-2 home">Home</a></li>
    <li><a routerLink="gatos/donar" routerLinkActive="router-link-active" class="nav-link px-2">Donar</a></li>
    <li><a routerLink="/gatos/adoptar" routerLinkActive="router-link-active" class="nav-link px-2">Proceso de
        adopción</a>
    </li>
    <li><a routerLink="gatos/galeria" routerLinkActive="router-link-active" class="nav-link px-2">Galeria de
        adoptados</a>
    </li>
    <ng-container *ngIf="!displayLinks">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="router-link-active" data-bs-toggle="dropdown"
          aria-expanded="false">Admin</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="gatos/add">Añadir gato</a></li>
          <li><a class="dropdown-item" href="#">Lista de usuarios</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ng-container>
  </ul>
  <div class="col-md-3 text-end">
    <ng-container *ngIf="!displayLinks">
      <button class="btn" routerLink="usuario/me" routerLinkActive="router-link-active">Mi perfíl</button>
      <button type="button" class="btn btn-outline-warning me-2" (click)="logout()">Logout</button>
    </ng-container>
    <!-- <ng-template #elseBlock> -->
    <ng-container *ngIf="displayLinks">
      <button type="button" class="btn btn-outline-warning me-2" routerLink="auth/login"
        routerLinkActive="router-link-active">Login</button>
      <button type="button" class="btn signup" routerLink="auth/registro"
        routerLinkActive="router-link-active">Sign-up</button>
    </ng-container>
    <!-- </ng-template> -->
  </div>
</header>