<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Información Personal</h5>
          <p class="card-text">Nombre: {{usuario.nombre}}</p>
          <p class="card-text">Correo: {{ usuario.correo }}</p>
          <!-- <button class="btn btn-primary">Editar Información Personal</button> -->
          <button class="btn btn-primary" (click)="abrirModal('password')">Cambiar Contraseña</button>
        </div>
      </div>
      <ng-container *ngIf="isAdmin">
        <div class="card border-danger">
          <div class="card-body">
            <h5 class="card-title mb-3">Administración</h5>
            <div class="card-text mb-3"><a routerLink="/gatos/add" routerLinkActive="router-link-active"
                class="btn btn-danger d-block">Anadir Gato</a></div>
            <div class="card-text"><a routerLink="/gatos/adopciones" routerLinkActive="router-link-active"
                class="btn btn-secondary d-block">Gestionar Adopciones</a></div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title mb-3">Gatos favoritos</h5>
          <ng-container *ngIf="favoritos && favoritos.length > 0; else blockVacio">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
              <app-gato-item *ngFor="let gato of favoritos" [gato]="gato" [usuarioId]="usuario._id"></app-gato-item>
            </div>
          </ng-container>
          <ng-template #blockVacio>
            <p>Aquí no hay nada...</p>
            <img class="img-fluid" src="../../../assets/images/cat-empty.png" alt="empty">
          </ng-template>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">

          <h5 class="card-title mb-3">Adopciones solicitadas</h5>
          <ng-container *ngIf="adopciones.length > 0" ; else vacio>
            <div class="row text-center mt-3 ms-1">
              <div class="col-3">Gato</div>
              <div class="col-4">Fecha solicitud</div>
              <div class="col-3">Status</div>
              <div class="col-2"></div>
            </div>
            <ul class="list-group list-group-flush mt-3" *ngFor="let adopcion of adopciones">
              <li class="list-group-item list-group-item-info ">
                <div class="row text-center ">
                  <div class="col-3 pb-0">{{adopcion.nombre}}</div>
                  <ng-container *ngFor="let item of adopcion.Adopciones">
                    <ng-container *ngIf="item.usuario._id === usuario._id">
                      <div class="col-4"> {{ item.date | date:'mediumDate' }}</div>
                      <div class="col-3"> {{ item.status }}</div>
                      <div class="col-2"><a class="btn btn-light btn-sm" routerLink="/gatos/{{adopcion._id}}">Ver</a>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Encuesta para adopción</h5>
          <!-- <ng-container *ngIf="usuario.nombreCompleto ; else elseBlock"> -->
          <button class="btn btn-primary me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard"
            aria-expanded="false" aria-controls="collapseCard">Ver las respuestas</button>
          <!-- <button class="btn btn-light">Cambiar las respuestas</button> -->
          <div class="collapse mt-3" id="collapseCard">
            <p><strong>Nombre completo:</strong> {{usuario.nombreCompleto }}</p>
            <p><strong>Dirección:</strong> {{usuario.direccion }}</p>
            <p><strong>Teléfono de contacto:</strong> {{usuario.telefono}}</p>
            <p><strong>Estás en el proceso de mudanza o tienes planificado mudarte? Qué harías si te mudas donde no se
                aceptan mascotas?</strong> {{usuario.infoMudanza}}</p>
            <p><strong>Por qué quieres adoptar un gato?</strong> {{usuario.infoPorque}}</p>
            <p><strong>Quién vive en tu casa? Alguien tiene alergias a gatos?</strong> </p>{{usuario.infoFamilia}}
            <p><strong>Cuánto estás preparado para gastar para el gato mensualmente?</strong> {{usuario.infoCostes}}
            </p>
            <p><strong>Se te ocurre alguna razón por la que podrías devolver un gato al refugio?</strong>
              {{usuario.infoAbandonar}}</p>
            <p><strong>Dónde va a vivir el gato? solo dentro de la casa, dentro y fuera, fuera</strong>
              {{usuario.infoMovimiento}}</p>
            <p><strong>Estás dispuesto a poner mosquiteras o redes para proteger todas las ventanas y puertas antes de
                adoptar al gato?</strong> {{usuario.infoProteccion}}</p>
            <p><strong>Cuál es tu experiencia con animales? Has tenido un gato?</strong> {{usuario.infoExperiencia}}.
            </p>
            <p><strong>Ante una inadaptación o problema de comportamiento en el gato que adoptes, ¿qué
                harías?</strong>
              {{usuario.infoProblemas}}</p>
            <p><strong>Háblanos un poco sobre las mascotas que tienes ahora; ¿todas las vacunas puestas?</strong>
              {{usuario.infoMascotasActuales}}</p>
            <p><strong>Háblanos sobre tus mascotas que has tenido anteriormente. ¿Qué pasó al final?</strong>
              {{usuario.infoMascotasAnteriores}}</p>
            <p><strong>¿Quién es tu veterinario? (Le vamos a contactar para comprobar los datos)</strong>
              {{usuario.infoVeterinario}}</p>
          </div>
          <!-- </ng-container> -->
          <!-- <ng-template #elseBlock> -->
          <button class="btn btn-outline-primary" (click)="abrirModal('encuesta')">Rellenar la
            encuesta</button>
          <!-- </ng-template> -->
        </div>
      </div>
    </div>
  </div>
</div>