<!-- <div class="album py-5 bg-body-tertiary">
  <div class="container"> -->

<!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->
<!-- <ng-container *ngIf="gatoItem"> -->
<div class="col">
  <div class="card shadow-sm">
    <img [routerLink]="['/gatos', gato._id]" class=" card-img-top" style="object-fit:cover " height="200"
      [src]="firstImage">
    <title> {{gato.nombre }}</title>
    <div class="card-body">
      <div class="card-text mb-3 row">
        <h4 class="col">{{gato.nombre }}</h4>
        <fa-icon class="col bookmark" *ngIf="gato.reservado" [icon]='icons.faBookmark'></fa-icon>
        <div class="col text-end like-icon"> {{gato.numLikes}}
          <fa-icon class="heart" *ngIf="isLiked()" [icon]='icons.faHeart' (click)="toggleLike()"></fa-icon>
          <fa-icon class="heart" *ngIf="!isLiked()" [icon]='icons.faHeart2' (click)="toggleLike()">
          </fa-icon>
        </div>
      </div>
      <div class=" d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <a [routerLink]="['/gatos', gato._id]" type="button"
            class="btn btn-sm btn-outline-secondary stretched-link">Ver más</a>

        </div>
        <small class="text-body-secondary"></small>
      </div>
    </div>
    <!-- <div class="card-footer text-end">
      2 days ago
    </div> -->
  </div>
</div>
<!-- </ng-container> -->