<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">¡Adopta Amor Felino!</h1>
    <p class="lead">
      Encuentra a tu Compañero Miauravilloso
    </p>
  </div>
</div>

<div class="container">
  <div class="text-end me-5">
    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
      aria-controls="collapseExample">
      Filtrar <fa-icon [icon]="icons.faSearch"></fa-icon>
    </button>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="border-top p-3">
      <div class="row d-flex justify-content-end">
        <div class="col-2 form-check form-switch">
          <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar solo no reservados</label>
          <input class="form-check-input" (click)="setNoReservados()" type="checkbox" role="switch"
            id="flexSwitchCheckDefault">
        </div>
        <form class="col-3">
          <input type="text" class="form-control" name="search" placeholder="Introduce un nombre, color etc."
            [(ngModel)]="filterSearch" />
        </form>
        <div class="col-3">
          <select class="form-select" [(ngModel)]="filterPersonalidad" name="personalidad">
            <option value='' selected>Elige si se lleva bien con:</option>
            <option value="solo">Nadie - solo en casa</option>
            <option value="gatos">Otros gatos</option>
            <option value="perros">Otros gatos y perros</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
      <app-gato-item *ngFor="let g of gatos | gatosFilter: showNoReservados : filterSearch : filterPersonalidad"
        [gato]="g"></app-gato-item>
    </div>
  </div>
</div>