<img src="../../../assets/images/cute-sleepy-kitten-website-header.jpg" class="img-fluid gato-banner" width="100%"
  alt="gatito">

<div class="container py-5">
  <h1 class="mb-4">Adopción de Gatos: Pasos y Requisitos</h1>
  <div class="mb-5">
    <h4>Pasos:</h4>
    <ol>
      <li>Entra en tu perfil y completa la encuesta: Lo primero que debes hacer es registrarte en nuestro sitio web y
        crear tu perfil. Una vez registrado, encontrarás una encuesta que deberás completar. Esta encuesta nos ayudará a
        conocerte mejor y asegurarnos de que eres el cuidador adecuado para nuestros gatos. Tómate tu tiempo para
        responder de manera honesta y detallada.</li>
      <li>Solicita la adopción: Una vez que hayas guardado la encuesta en tu perfil, estarás listo para solicitar la
        adopción de un gato. Visita el perfil de cada gato y encontrarás un botón para solicitar la adopción. Al
        pulsarlo,
        se registrará tu solicitud.</li>
      <li>Revisión del perfil: Nuestro equipo responsable del refugio revisará tu perfil y la solicitud de adopción como
        primer paso del proceso. Nos aseguramos de que cumplas con los requisitos básicos y que estés comprometido con
        una adopción responsable.</li>
      <li>Contacto y seguimiento: Una vez que hayamos revisado tu perfil, nos pondremos en contacto contigo para
        discutir
        la adopción y programar una visita al refugio. Queremos asegurarnos de que tanto tú como el gato se sientan
        cómodos y encajen bien antes de finalizar el proceso de adopción.</li>
    </ol>
  </div>

  <div class="alert alert-info">
    <strong>¡Importante! Solo adopción responsable!</strong><br>
    Los solicitantes deben tener más de 18 años y cumplir con algunos requisitos básicos para poder cuidar a un animal.
    Es muy importante estar abierto a aprender y adaptar la vida y el hogar para este nuevo miembro peludo de la
    familia. También es fundamental conocer las necesidades que tienen.
  </div>

  <div class="mb-5">
    <h4>Requisitos Importantes:</h4>
    <ul>
      <li>Mayor de 18 años: Los solicitantes deben tener al menos 18 años de edad para poder adoptar un gato. Esto
        garantiza que tengan la madurez y la responsabilidad necesarias para cuidar adecuadamente de un animal.</li>
      <li>Adopción responsable: Buscamos adoptantes comprometidos y responsables. Antes de considerar la adopción,
        asegúrate de que estás dispuesto a aprender y adaptar tu vida y tu hogar para recibir a este nuevo miembro
        peludo de la familia.</li>
      <li>Condiciones de vida adecuadas: Es importante que tengas un ambiente seguro y adecuado para un gato. Esto
        implica proporcionarle un espacio cómodo, juguetes, rascadores y asegurarte de que no haya peligros potenciales
        en tu hogar que puedan poner en riesgo la seguridad del gato.</li>
      <li>Comprensión de las necesidades felinas: Los gatos tienen necesidades específicas, como su alimentación,
        cuidado
        veterinario, enriquecimiento ambiental y atención adecuada. Es importante que estés dispuesto a aprender sobre
        estas necesidades y proporcionarles un entorno saludable y feliz.</li>
    </ul>
  </div>

  <p>En nuestra organización, nos tomamos muy en serio la adopción de gatos y queremos asegurarnos de que cada gato
    encuentre un hogar amoroso y responsable. Si cumples con los requisitos mencionados anteriormente y estás dispuesto
    a brindarle una vida feliz a un gato, estaremos encantados de guiarte en el proceso de adopción.</p>

  <p>¡Gracias por considerar la adopción y por hacer una diferencia en la vida de un gato! Si tienes alguna pregunta
    adicional, no dudes en contactarnos.</p>
</div>