<img src="../../../assets/images/cute-sleepy-kitten-website-header.jpg" class="img-fluid gato-banner" width="100%"
  alt="gatito">
<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Formas de Donar</h1>
      <p class="col-lg-8 mx-auto lead">
        En Alma de Gato, ofrecemos varias formas para que puedas apoyar a nuestros gatos necesitados. Tu
        generosidad y apoyo son fundamentales para ayudarnos a proporcionarles el cuidado y el amor que se merecen. A
        continuación, encontrarás diferentes opciones para realizar tus donaciones:
      </p>
    </div>
  </div>
</div>
<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Donaciones en Efectivo</h2>
      <p class="lead">Transferencia Bancaria: Puedes realizar una transferencia bancaria directamente a nuestra cuenta.
        Ponte en contacto con nosotros para obtener los detalles bancarios.

        Donación en Línea: Aceptamos donaciones en línea a través de nuestro sitio web seguro. Simplemente visita
        nuestra página de donaciones y sigue las instrucciones para realizar tu donación de forma rápida y segura.

        Donación por Correo: Si prefieres enviar una donación por correo, puedes hacer un cheque a nombre de [Nombre de
        la Organización] y enviarlo a nuestra dirección postal [Dirección Postal].
      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Donaciones en Efectivo</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
          fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Donaciones en Especie
      </h2>
      <p class="lead">Además de las donaciones en efectivo, también aceptamos donaciones en especie. Estas donaciones
        nos ayudan a cubrir las necesidades diarias de nuestros gatos. A continuación, se mencionan algunos elementos
        que siempre son bienvenidos:

        Alimentos para gatos (pienso seco o comida enlatada)
        Camas y mantas suaves
        Juguetes interactivos y pelotas
        Rascadores y postes para gatos
        Bandejas sanitarias y arena para gatos
        Transportadoras y jaulas seguras
        Puedes traer tus donaciones en especie directamente a nuestro refugio [Dirección del Refugio] durante nuestros
        horarios de atención.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
          fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Programas de Patrocinio</h2>
      <p class="lead">También ofrecemos programas de patrocinio para aquellos que desean marcar una diferencia aún
        mayor. Con nuestro programa de patrocinio, puedes apoyar directamente a un gato en particular, cubriendo sus
        necesidades específicas. Proporcionaremos actualizaciones regulares y te mantendremos informado sobre el
        progreso y el bienestar de tu gato patrocinado.

        Si estás interesado en convertirte en un patrocinador, comunícate con nosotros para obtener más información
        sobre los gatos disponibles para patrocinio y cómo puedes contribuir.

      </p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
          fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">
</div>