<div class="container">
  <div class="blob">
    <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <clipPath id="a">
          <path fill="currentColor"
            d="M825.5 656Q812 812 656 828t-262.5-49.5q-106.5-65.5-234-172T116 350q84-150 234-250t324.5-24.5Q849 151 844 325.5T825.5 656Z" />
        </clipPath>
      </defs>
      <g clip-path="url(#a)">
        <path fill="#E9ECEF"
          d="M825.5 656Q812 812 656 828t-262.5-49.5q-106.5-65.5-234-172T116 350q84-150 234-250t324.5-24.5Q849 151 844 325.5T825.5 656Z" />
      </g>
    </svg>
  </div>

  <div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container">
        <h1 class="text-body-emphasis">Formas de Donar</h1>
        <p class="lead col-lg-8 mx-auto">
          En Alma de Gato, ofrecemos varias formas para que puedas apoyar a nuestros gatos necesitados. Tu
          generosidad y apoyo son fundamentales para ayudarnos a proporcionarles el cuidado y el amor que se merecen.
          A
          continuación, encontrarás diferentes opciones para realizar tus donaciones:
        </p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Donaciones en Efectivo</h2>
      <p class="lead">Transferencia Bancaria: Puedes realizar una transferencia bancaria directamente a la cuenta de
        la
        Asociación:</p>
      <p class="text-center fs-5">ES74 2100 7693 1002 0008 8273 (Alma de gato Adopta)</p>
      <p class="lead">Donación en Línea:</p>
      <p class="fs-5">Bizum 607356727</p>
      <p class="lead">PayPal:</p>
      <p class="fs-5">almadegatoadopta@gmail.com</p>
    </div>
    <div class="col-md-5">

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Donaciones en Especie</h2>
      <p class="lead">Además de las donaciones en efectivo, también aceptamos donaciones en especie. Estas donaciones
        nos ayudan a cubrir las necesidades diarias de nuestros gatos. A continuación, se mencionan algunos elementos
        que siempre son bienvenidos:</p>
      <ul>
        <li>Alimentos para gatos (pienso seco o comida enlatada)</li>
        <li>Camas y mantas suaves</li>
        <li>Juguetes interactivos y pelotas</li>
        <li>Rascadores y postes para gatos</li>
        <li>Bandejas sanitarias y arena para gatos</li>
        <li>Transportadoras y jaulas seguras</li>
      </ul>
      <p class="lead">Puedes traer tus donaciones en especie directamente a nuestro refugio [Dirección del Refugio]
        durante nuestros horarios de atención.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../../assets/images/cat-9159.png" class="img-fluid" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Programas de Patrocinio</h2>
      <p class="lead">También ofrecemos programas de patrocinio para aquellos que desean marcar una diferencia aún
        mayor. Con nuestro programa de patrocinio, puedes apoyar directamente a un gato en particular, cubriendo sus
        necesidades específicas. Proporcionaremos actualizaciones regulares y te mantendremos informado sobre el
        progreso y el bienestar de tu gato patrocinado.</p>
      <p class="lead">Si estás interesado en convertirte en un patrocinador, comunícate con nosotros para obtener más
        información sobre los gatos disponibles para patrocinio y cómo puedes contribuir.</p>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/images/pngwing.com (1).png" alt="gatito" class="img-fluid">
    </div>
  </div>

  <hr class="featurette-divider">
</div>